{{ partial "header.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
  <h2>{{ .Site.Params.subtitle }}</h2>
</div>

<div class="content">

  <p>I am an asssociate professor of physics at the University of Otago, New Zealand. My group's work spans multiple disciplines of theoretical and mathematical physics, including condensed matter, degenerate gases, hydrodynamics, atomic physics, quantum optics and quantum information. </p>
<div> 
  <img src="/img/gi.png" alt="vortex correlation" width="600"/>
</div>

  We develop a rigorous formulation of the spectral density problem with formal and numerical advantages. It can be used to calculate accurate spectral densities and correlation functions for compressible and incompressible velocity fields. We resolve a long standing problem in quantum turbulence linking classical turbulence measures and energy densities in quantum fluids. <a href="https://arxiv.org/abs/2112.04012">https://arxiv.org/abs/2112.04012</a>

  <h2 id="sample-markdown">News</h2>

  {{ range ( .Paginate (where .Site.RegularPages "Type" "post")).Pages }}
    {{ .Render "summary"}}
  {{ end }}

  {{ partial "pagination.html" . }}

  <h2 id="sample-markdown">Supported By</h2>
  <p>Marsden Fund, Quantum Science Otago</p>

</div>

{{ partial "footer.html" . }}
